{% extends "base.html" %}
{% block content %}
<h1>Email Group: {{ group.group_name }}</h1>

<h2>Group Details</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in group.details.all %}
        <tr>
            <td>{{ detail.email }}</td>
            <td>
                
                <a class="btn btn-danger" href="{% url 'email_group_detail_delete' detail.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-success" href="{% url 'email_group_detail_create' group.id %}">Add New Detail</a>
{% endblock %}